@import "~antd/dist/antd.less";
@import "../../../App/theme.less";

// card sizes

.login-box {
  padding-top:20px ;
  width: 400px;
}

//Forgot password block
.forgot-password{
  margin-top:25px;
}

//Login page input class
.login-input{
  margin-top: 45px;
  margin-bottom: 18px !important;
}
//Logo style placeholder
.logo-img{
  height: 56px !important;
  width: 56px;
  border-radius: 50%;
  background: @primary-color;
  margin:0 auto !important;
  margin-bottom:25px !important;
  color:white;
}
//Back button on login class Can be Removed
.back-button{
  margin-bottom:10px;
}
.button-login-wrapper{
  margin-bottom: 15px !important;
}
.switch-rtl {
  float: right;
}
