@import "../../containers/App/theme";

.checkbox-size {
  width: @checkbox-width !important;
  height: @checkbox-height !important;
  top: @checkbox-top-margin;
}

.hide {
  display: none !important;
}

.select-list {
  width: 340px !important;
  // customized Scrollbar Works only on webkit support browsers
  *::-webkit-scrollbar {
    width: .4em;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #D8D8D8;
    border-radius: 10px;
    outline: 1px solid white;
  }

  &-header {
    width: 300px;
    .count {
      float: left
    }
  }

  &-right {
    max-height: 200px;
    min-height: 200px;
    overflow-y: auto;
    border-left: solid 1px #DBDDE1;
    border-right: solid 1px #DBDDE1;
    border-bottom: solid 1px #DBDDE1;
    direction: ltr;
    > label {
      &:nth-child(even) {
        background: #EEEFF0;
      }
      > div > div:first-child {
        fill: #DBDDE1 !important;
      }
    }

  }

  &-left {
    max-height: 200px;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid 1px #DBDDE1;
    direction: ltr;
    > label {
      &:nth-child(even) {
        background: #EEEFF0;
      }
      > div > div:first-child {
        fill: #DBDDE1 !important;
      }
    }
    &-container {
      width: 240px !important;
      .select-list-header {
        width: 200px !important;
      }
    }
  }

  &-checkbox-selected {
    height: 28px !important;
    line-height: 28px;
    margin-top: 2px;
    div {
      align-items: center;
      > div > div > svg {
        .checkbox-size()
      }
    }
  }

  &-empty {
    display: block;
    text-align: center;
    font-size: 12px;
    padding-top: 85px;
    padding-right: 15px;
    padding-left: 15px;
    max-height: 230px;
    min-height: 230px;
    border: solid 1px #DBDDE1;
    color: #5E6670;
    line-height: 2;
  }

  &-checkbox {
    height: 28px !important;
    line-height: 28px;
    margin-top: 2px;
    div {
      align-items: center;
      > div > div > svg {
        fill: #DBDDE1 !important;
        .checkbox-size()
      }
    }
  }

  .all-selector {
    height: 28px !important;
    margin-top: 2px;
    line-height: 28px;
    border: solid 1px #DBDDE1;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    padding: 5px 9px !important;
    &-select {
      height: 28px !important;
      margin-top: 2px;
      line-height: 28px;
      border: solid 1px #DBDDE1;
      div {
        align-items: center;
        > div > div > svg {
          .checkbox-size();
        }
      }
    }
  }
    .checkbox-item{
        display: flex !important;
        align-items: center;
        padding-right: 5px;
        padding-left: 5px;
        flex-direction: row-reverse;
        span {
            font-size: 13px;
            color: #5E6670;
        }
    }
    .ant-checkbox-wrapper + .ant-checkbox-wrapper{
        margin-left: 0 !important;
    }
    .ant-checkbox{
        input{
            height: 16px !important;
            width: 16px !important;
        }
        &:after{
            border:none;
            border-radius: 2px !important;
        }
        .ant-checkbox-inner{
            height: 16px !important;
            width: 16px !important;
            border-radius: 2px !important;
            &:after{
                transform: rotate(45deg) scale(1) translate(1px);
            }
        }
    }
    .brand-title{
        font-weight: 500;
        font-size: 12px;
        color: #5E6670;
    }
}
[dir="ltr"] {
    .select-list-right , .select-list-left{
        direction: rtl !important;
    }
    .select-list-header {
        .count {
            float: right;
        }
    }
}
.select-list-left{
    border-top:none !important;
}
.btn-select-list{
    button {
        display: flex;
        div {
            > div {
                display: flex;
                justify-content: center;
                flex-direction: row-reverse;
            }
        }
    }
}
.btn-select-list-left{
    button {
        display: flex;
        div {
            > div {
                display: flex;
                justify-content: center;
            }
        }
    }
}
.btn-select-list, .btn-select-list-left {
  margin-top: 10px;
  height: 30px;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 6px, rgba(0, 0, 0, 0) 0px 1px 4px !important;
  background: #B6BBC2;
  font-size:13px;
  button {
    display: flex;
    justify-items: center;
    height: 30px !important;
    line-height: 30px !important;
      i{
          position: relative;
          top:4px;
          color: #FFF !important;
      }
    div {
      > div {
        span {
          color: white;
          font-weight: 400;
          padding: 0 2px !important;
        }
        &:hover {
          background: @dark-gray-color !important;
        }
        background: #B6BBC2;
        height: 30px !important;
      }
    }
  }
}

.btn-select-list-left {
  button {
    max-width: 200px !important;
  }
}
.select-list-description{
    line-height: 1.5;
    width: 555px;
    padding: 10px 0;
}

[dir="rtl"]{
    .checkbox-item{
        span:nth-child(2){
            direction: rtl;
        }
    }
}
