@import "../../../App/theme";

.progress-bar {
    height: 100px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    div {
        div {
            > span {
                border-width: 2px !important;
            }
        }
    }
    button {
        background-color: transparent !important;
    }
    button {
        > span {
            padding-left: 0 !important;
            padding-right: 0 !important;
            span {
                padding-right: 0 !important;
            }
            > span:last-child { //Positioning text on bottom of Bullet
                position: absolute;
                top: 55px;
                left: 0;
                transform: translateX(-25%);
                white-space: nowrap;
            }
        }
    }
    span {
        font-size: 14px;
        font-weight: 400;
        margin: 0 3px;
        background: #FFF;
    }
    text {
        fill: @step-inactive-text;
    }
    circle {
        display: none; //Disable showing all Bullets (only active and completed state Should have bullet)
    }
    svg {
        height: @step-wizard-size !important;
        width: @step-wizard-size  !important;
        border:1px solid #EBECF2;
        border-radius: 100px;
        background: #FFF;
    }
    .active-step {
        svg {
            background: #FFF;
            border:none;
            fill: @step-active-color !important;
            color: @step-active-color !important;
            circle {
                r: 12 !important;
            }
            text{
                fill: #2E3246;
            }
        }
        circle {
            display: block;
        }
        text {
            fill: @step-active-text;
        }
        span {
            color: #2E3246;
        }
    }
    .complete-step {
        svg {
            background: #FFF;
            border:none;
        }
        span {
            color: @primary-color;
        }
        + div {
            > span {
                border-color: @primary-color !important;
                transition: all 0.2s ease-in;
            }
        }
    }
}
    @media screen and (min-width: 1400px) {
        text {
            font-size: 16px !important;
            margin: 0 5px;
        }
        .progress-bar {
            .complete-step, .active-step {
                svg {
                    height: @step-wizard-size + 4 !important;
                    width: @step-wizard-size + 4 !important;
                    background: #FFF;
                    circle{
                        r:14px !important;
                    }
                    text {
                        font-size: 12px !important;
                    }
                }
            }
        }

        @media screen and (max-width: 1250px) {
            text {
                font-size: 14px;
            }

            span {
                font-size: 14px;
            }
            .progress-bar {
                .complete-step, .active-step {
                    svg {
                        height: @step-wizard-size - 6 !important;
                        width: @step-wizard-size - 6 !important;
                        background: red;
                        margin: 0 2px;
                    }
                }
            }
        }

        @media screen and (max-width: 1000px) {
            span {
                font-size: 12px;
            }
            .progress-bar {
                .complete-step, .active-step {
                    svg {
                        height: @step-wizard-size - 15 !important;
                        width: @step-wizard-size - 15 !important;
                        background: #FFF;
                    }
                }
            }
            div {
                > div {
                    width: auto;
                }
            }
        }
    }
