@import "../../../App/theme";

.progress-bar {
    height: 100px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    div {
        > div {
            margin-left: -10px;
        }
    }
    div {
        div {
            > span {
                border-width: 2px !important;
            }
        }
    }
    button {
        background-color: transparent !important;
    }
    button {
        > span {
            padding-left: 0 !important;
            padding-right: 0 !important;
            span {
                padding-right: 0 !important;
            }
            > span:last-child { //Positioning text on bottom of Bullet
                position: absolute;
                top: 55px;
                left: 0;
                transform: translateX(-25%);
                white-space: nowrap;
            }
        }
    }
    span {
        font-size: 14px;
        font-weight: 400;
        margin: 0 3px;
        background: #FFF;
    }
    text {
        fill: @step-inactive-text;
    }
    circle {
        display: none; //Disable showing all Bullets (only active and completed state Should have bullet)
    }
    svg {
        height: @step-wizard-size !important;
        width: @step-wizard-size !important;
        border: 1px solid #EBECF2;
        border-radius: 100px;
        background: #FFF;
    }
    .complete-step{
         > button{
            > span {
               > span:last-child {
                   color: @primary-color;
               }
            }
        }
    }
    .step-icon {
        width: 28px;
        height: 28px;
        border-radius: 15px;
        line-height: 28px;
        font-size: 15px;
    }
    .active-step-icon {
        background-color: #EBECF2;
        color: #000000;
    }

    .passed-step-icon {
        background-color: #00ABFB;

        i {
            color: #ffffff;
            top: 3px;
            position: relative;
            font-size: 14px;
        }
    }

    .next-step-icon {
        background-color: #ffffff;
        color: #BABDCF;
        border: 1px solid #EBECF2;
    }

    button  > span span {
        padding-left: 0 !important;
    }
    .active-step {
        &.final-step {
            span {
                color: #66C395;
                > span:first-child {
                    border: 1px solid transparent;
                    border-radius: 100px;
                    background: #66C395;
                    height: 28px;
                    width: 28px;
                    i {
                        position: relative;
                        top: 5px;
                        left: 1px;
                        color: #FFF;
                    }
                }
            }
        }
    }
    .final-step {
        span > span:first-child {
            border: 1px solid #EBECF2;
            border-radius: 100px;
            background: #FFF;
            height: 28px;
            width: 28px;
            margin-right: 5px;
            i {
                position: relative;
                top: 6px;
                left: 1px;
                color: #B6BBC2;
            }
        }
    }
    .complete-step + div {
        > span {
            &:after{
                content: "";
                width: 100%;
                height: 2px;
                background: @primary-color;
                display: block;
                margin-top: -2px;
                transition: all 0.5s linear;
            }
        }
    }
    .active-step + div {
        > span {
            &:after{
                content: "";
                width: 0;
                height: 2px;
                background: @primary-color;
                display: block;
                margin-top: -2px;
                transition: all 0.2s linear;
            }
        }
    }
}
[dir="ltr"] {
    .final-step {
        margin-right: 0;
        margin-left: 5px !important;
    }
    .progress-bar {
        margin-right: 15px;
        div {
            > div {
                margin-right: -10px;
                margin-left: 0;
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    text {
        font-size: 16px !important;
        margin: 0 5px;
    }

    .progress-bar {
        .complete-step, .active-step {
            svg {
                height: @step-wizard-size + 4 !important;
                width: @step-wizard-size + 4 !important;
                background: #FFF;
                circle {
                    r: 14px !important;
                }
                text {
                    font-size: 12px !important;
                }
            }
        }
    }

    @media screen and (max-width: 1250px) {
        text {
            font-size: 14px;
        }

        span {
            font-size: 14px;
        }

        .progress-bar {
            .complete-step, .active-step {
                svg {
                    height: @step-wizard-size - 6 !important;
                    width: @step-wizard-size - 6 !important;
                    background: red;
                    margin: 0 2px;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        span {
            font-size: 12px;
        }

        .progress-bar {
            .complete-step, .active-step {
                svg {
                    height: @step-wizard-size - 15 !important;
                    width: @step-wizard-size - 15 !important;
                    background: #FFF;
                }
            }
        }

        div {
            > div {
                width: auto;
            }
        }
    }
}
