@import "../../../App/theme";
@import "./animation";

.mini-container {
  position: absolute;
  margin-top: 30%;
  width: 100%;
  right: 0;
  bottom: 0;
  background: @user-box-background-color;
  cursor: pointer;
  color: @sidebar-link-color;
  border-top: 1px solid #234478;
  z-index: 99;
  &.container-close {
    bottom: 0;
  }
  .svg-container {
    position: absolute;
    top: -14px;
    left: 0;
    .arrow-open {
      transform: translate(25px, 8px) rotate(-90deg) translate(-26px, -8px);
      transition: transform .3s ease-In;
    }
    .arrow-close {
      transition: transform .3s ease-In;
    }
  }
  .mini-close {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 65px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .avatar {
    margin: 0 5%;
  }

  .avatar-close-menu {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 10px 0;
  }

  .mini-info {
    direction: rtl;
  }

  .mini-bell {
    margin-right: auto;
    font-size: 16px;
    .ant-badge-dot {
      position: absolute;
      top: -1px;
      right: -2px;
    }
  }

  .mini-open {
    display: block;
    width: 100%;
    direction: rtl;
    padding-right: 30px;
    padding-left: 30px;
    ul {
      li {
        border-bottom: 1px dotted #1B509A;
        padding: 10px 20px;
        margin-left: 10%;
        a {
          color: @sidebar-link-color;
          font-size: @user-box-item-size;
        }

        &:last-child {
          border: 0;
        }
      }
    }
    .ant-menu {
      background: transparent;
      li {
        padding: 0;
        padding-right: 20px;
      }
    }
  }
  .ant-menu-item {
    padding-left: 0 !important;
    padding-right:0 !important;
    @media screen and (max-height: 700px) {
      padding: 0px 20px;
      height: 30px !important;
      line-height: 30px !important;
    }
    &:before {
      content: "\e003";
      font-family: clickyabdashboard !important;
      font-size: 7px;
      width: 0;
      float: right;
      color: white;
      opacity: 0;
      transition: all ease-in 0.2s;
    }
  }
  .ant-menu-item-selected {

    background: transparent !important;
    &:before {
      content: "\e003";
      font-family: clickyabdashboard !important;
      position: relative;
      top:1px;
      width: auto;
      display: block;
      margin-left: 5px;
      opacity: 1;
      transition: all ease-in 0.2s;
    }
  }

  .user-box-icon {
    position: absolute;
    top: -12px;
    left: 9%;
    background: @user-box-background-color;
  }

  .profile-collapse-badge, .profile-badge {
    sup {
      box-shadow: 0 0 0 2px @user-box-background-color !important;
      background-color: @badge-dot-color;
      height: @badge-dot-size;
      width: @badge-dot-size;
    }
  }
  .profile-collapse-badge {
    bottom: -6px;
    right: -2px;
  }
}

.user-popover {
  position: absolute;
  width: 260px;
  left: -255px;
  top: -285px;
  background: white;
  z-index: 99;
  box-shadow: 0 1px 0 0 #D8DCE3;
  border-radius: 3px;
  &:after{
    position: absolute;
    bottom:0px;
    right:-9px;
    z-index: 0;
    content: "";
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
  }
  .ant-menu-item, .ant-menu {
    width: 250px !important;
  }
  .popover-header {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row-reverse;
    height: 60px;
    border-bottom: 1px solid #E9E9EC;
    color: @dark-gray-color;
    padding: 10px 15px;
    font-size: 14px;
    font-weight:500;
    .bell-icon{
      color: #D8D8D8;
    }
    .profile-badge{
      sup{
        box-shadow: 0 0 0 1px #FFF !important;
      }
    }
  }
  .popover-list {
      padding: 5px;
    li {
      padding: 10px 10px;
      font-size: 13px;
      border-bottom:1px dotted #D8DCE3;
    }
    li:last-child{
      border:none;
    }
    a{
      color: @dark-gray-color;
      font-weight: 500;
      display: block;
    }
    .active {
      &:before {
        content: "\e003";
        font-family: clickyabdashboard !important;
        width: auto;
        margin-left: 5px;
        opacity: 1;
        transition: all ease-in 0.2s;
      }
    }
  }
}
[dir="ltr"] {
  .mini-container {
    .mini-close {
      .mini-bell {
        margin-left: auto !important;
        margin-right: 0 !important;
      }
    }
  }
  .mini-open {
    ul {
      li {
        direction: ltr !important;
        display: flex;
      }
    }
  }
  .svg-container{
    left:auto;
    right:0;
  }
}
