@import "../../../App/theme";

.mini-container {
  position: absolute;
  margin-top: 30%;
  width: 100%;
  right: 0;
  bottom:0;
  background: @user-box-background-color;
  cursor: pointer;
  color: @sidebar-link-color ;
  border-top:1px solid #234478 ;
  &.container-close{
    bottom:0 ;
  }
  .svg-container{
    position: absolute;
    top:-14px;
    .arrow-open{
      transform: translate(25px, 8px) rotate(-90deg) translate(-26px, -8px) ;
      transition: transform .3s ease-In ;
    }
    .arrow-close{
      transition: transform .3s ease-In ;
    }
  }
  .mini-close {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row-reverse;
    height: 65px;
  }

  .avatar {
    margin: 0 5%;
  }

  .avatar-close-menu {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 10px 0;
  }

  .mini-info {
    direction: rtl;
  }

  .mini-bell {
    margin-right: auto;
    padding-left: 10%;

    > .bell-icon {
      font-size: 18px;
      position: absolute;
      top: -10px;
    }
  }

  .mini-open {
    display: block;
    width: 100%;
    direction: rtl;
    ul {
      li {
        border-bottom: 1px dotted #1B509A;
        padding: 10px 20px;
        margin-left: 10%;
        a {
          color: @sidebar-link-color;
          font-size: @user-box-item-size ;
        }

        &:last-child {
          border: 0;
        }
      }
    }
    .ant-menu{
      background: transparent;
        li {
          padding: 0;
          padding-right:20px;
        }
    }
  }
  .ant-menu-item{
    @media screen and (max-height: 700px)
    {
      padding: 0px 20px;
      height: 30px !important;
      line-height: 30px !important;
    }
    &:before{
      content:"\203A";
      font-weight: bold;
      font-size: 16px;
      width: 0;
      float:right;
      color:white;
      opacity: 0;
      transition: all ease-in 0.2s;
    }
  }
  .ant-menu-item-selected{

    background: transparent !important;
    &:before{
      content:"\203A";
      width: auto;
      display: block;
      margin-left:5px;
      opacity: 1;
      transition: all ease-in 0.2s;
    }
  }

  .user-box-icon {
    position: absolute;
    top: -12px;
    left: 9%;
    background: @user-box-background-color;
  }

  .profile-collapse-badge , .profile-badge{
    sup{
      box-shadow: 0 0 0 1px  @user-box-background-color !important;
      background-color: @badge-dot-color;
      height: @badge-dot-size;
    }
  }
  .profile-collapse-badge{
    bottom:-6px;
    right: -2px;
  }
}

