@import "../../../App/theme";

.time-close-icon{
  position: relative;
  top:1px;
  font-size: 7px;
  cursor: pointer;
}
.time-period-row{
  margin:10px auto !important;
}
.time-period-add{
}
.tld-description{
  position: relative;
  margin-top: -10px;
  display: block;
}
.have-description{
  .ant-form-explain{
    margin-bottom: 5px !important;
  }
}
.select-input {
  &.status-input {
    width: 85px;
  }
}
.has-error{
  .ant-form-explain{
    background: #FFF;
    position: relative;
    z-index: 10;
  }
}
.datepicker-placeholder{
    display: block;
    margin-top: -5px;
    font-weight: 400;
    color:#9499A9;
}
