@import "../../../App/theme";

.time-close-icon{
  position: relative;
  top:1px;
  font-size: 7px;
  cursor: pointer;
}
.time-period-row{
  margin:10px auto !important;
}
.time-period-add{
}
.tld-description{
  position: absolute;
  bottom: -10px;
  z-index: 9;
}
.have-description{
  .ant-form-explain{
    margin-bottom: 5px !important;
  }
}
.select-input {
  &.status-input {
    width: 85px;
  }
}
.has-error{
  .ant-form-explain{
    background: #FFF;
    position: relative;
    z-index: 10;
  }
}
