@import "~antd/dist/antd.less";
@import "../../../App/theme";

// Profile layout Container
.profile-container{
  padding: 35px;
  &-rtl{
    direction: rtl;
    padding: 35px;
    .profile-notice{
      border-right:solid 2px @border-profile-content ;
      border-left: transparent !important;

      h6{
        padding-right:20px  ;
        padding-left:auto   !important;
      }
      ul{
        padding-right:35px ;
        padding-left:auto  !important;
      }
    }
  }
}


// Profile notice (last column) for rtl version all left parameter should be right
.profile-notice{
  border-left:solid 2px @border-profile-content ;
  h6{
    padding-left:20px ;
  }
  ul{
    padding-left:35px;
    list-style: disc;
  }
  li{
    margin-top:8px;
  }
}
// disbale Row in profile for email and password change
.column-disable{
  border: solid 1px @border-profile-content ;
  background: @disabled-row;
}
.column-enable{
  border: solid 1px transparent;
}
// Enable Description for enabling password edit
.enable-des{
  margin-top: -20px;
  margin-bottom: 10px;
  font-weight: 400;
  a{
    text-decoration: underline;
  }
}

// Disable Description without change height of container
.disable-des
{
  margin-top   : -20px;
  margin-bottom: 10px;
  font-weight  : 400;
  visibility   : hidden;
}

// Save Changes button
.btn-save-change{
  border-radius: 20px !important;
  border       : solid 2px @border-profile-content !important;
  button{
    border-radius: 20px !important;

  }
  div{
    border-radius: 20px !important;
    span{
      color      : gray;
    }
  }
}
