@import "../../containers/App/theme";

.password-strength {
  position: relative;
}

.strength-meter {
  position: absolute;
  right: 0;
  top: 55%;
  font-size: @password-icon-size;
  color: @password-icon-color;
}
