@import "../../../node_modules/antd/dist/antd.less";
@import "../../containers/App/theme.less";

.chart-tooltip {
  width: 180px;
  font-family: @font-family;
  font-size: 13px;

  table {
    width: 180px;
    font-size: 12px;

    tr {
      td:first-child {
        width: 20px;
      }
      td:last-child {
        width: 20px;
      }
    }
  }
}
.chart-header {
  .legend-item {
    display: inline-block;
    margin-left: 35px;
    a {
      &.deactive {
        color: #BCBCBC !important;
        h5, h4 {
          color: #BCBCBC !important
        }
        .bullet {
          background: #BCBCBC !important;
        }
      }
    }
    h5 {
      display: inline-block;
    }
    .bullet {
      width: 9px;
      height: 9px;
      border-radius: 100%;
      display: inline-block;
    }
  }
  .chart-range-picker{
    display: flex;
    margin-right: auto;
  }
}
[dir="ltr"] .chart-header {
  .chart-range-picker {
    margin-left: auto;
  }
}
[dir="rtl"] .legend-item {
  .bullet {
    margin-left: 5px;
  }
}
.time-series-chart{
  height: 175px !important;
}
.pie-legend-item{
  margin-bottom: 15px;
  .bullet{
    width: 9px;
    height: 9px;
    border-radius: 100%;
    display: inline-block;
  }
  h6{
    display: inline-block;
    font-size: 12px;
  }
  h4{
    font-size: 20px;
  }
}
[dir="rtl"] .pie-legend-item {
  float: right;
  .bullet {
    margin-left: 5px;
  }
}
