.modal-wrapper {
  .ant-modal-content {
    border-radius: 0;
  }
  .ant-modal-header {
    background: lightgray;
    border-radius: 0;

    .ant-modal-title {
      text-align: center;
    }
  }

  .ant-modal-footer {
    text-align: left;
  }
}
