@import "../../containers/App/theme";

.content-container{
  margin-top: @campaign-top-distance;
  margin-right: @campaign-side-distance;
  margin-left: @campaign-side-distance;
  margin-bottom:@campaign-bottom-distance;
}
