@import "~antd/dist/antd.less";
@import "../../../App/theme.less";

// card sizes

.login-box {
    padding-top:20px ;
    width: 400px;
    &-title{
        color: #6E7682;
        font-size: 14px;
        font-weight: 400;
    }
}

//Forgot password block
.forgot-password{
  margin-top:25px;
}

//Login page input class
.login-input{
  margin-top: 45px;
  margin-bottom: 18px !important;
}
//Logo style placeholder
.logo-wrapper{
  text-align: center;
}
.login-logo{
  font-size: 68px;
  color: @primary-color;
}
//Back button on login class Can be Removed
.back-button{
  display: block;
  color: @normal-gray-color;
  margin: 0;
}
.button-login-wrapper{
  margin-bottom: 15px !important;
}

.switch-rtl {
    float: right;
    &.ant-switch {
        height: 16px;
        width: 30px;
        margin: 8px 0 !important;
        &:after {
            width: 13px;
            height: 13px;
            top: 0.5px;
        }
    }
}

.flip-icon{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: "FlipH";
}
.btn-arrow-rtl{
  color: white;
  position: absolute;
  left: 20px;
  top:4px
}
.btn-arrow{
  .flip-icon();
  color: white;
  position: absolute;
  right:20px;
  top: 2px;
}
.back-arrow{
  color: @normal-gray-color;
  margin-left: 3px;
  font-size: 10px;
  display: block;
  float: left;
  .flip-icon();
}

.back-text-wrapper {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  line-height:0;
  direction: ltr;
}
.checkbox-size {
  width: @checkbox-width !important;
  height:@checkbox-height !important;
  top:@checkbox-top-margin;
}
.custom-checkbox {
  margin-left: 0;
  label {
    font-size: 13px;
  }
  div > div > {
    margin-right: 0 !important;
    div > svg {
      .checkbox-size();
      fill: @primary-color !important;
    }
  }
  &-checked {
    label {
      font-size: 13px;
    }
    div > div > div > svg {
      .checkbox-size();
    }
  }
}

.verify-link{
  border-bottom: 1px dotted @primary-color;
}

.hide-ant-error{
    margin-bottom: 5px !important;
    .has-error{
        .ant-form-explain {
            display: block;
        }
        div > div > hr{
            border-bottom: 2px solid red !important;
        }
    }
}
.corporation-text{
    padding: 0 5px;
    font-size: 13px;
    color: #5E6670;
}

.corporation-wrapper{
    .ant-form-item-control{
        display: flex;
    }
}
.remove-disable-style{
    div > div > hr {
        border-bottom: 1px solid rgb(224, 224, 224) !important;
    }
}
