@import "../../../App/theme";
.charge-titles{
    color: #5A5D6C;
    font-size: 14px;
}
.circle-number {
  border-radius: 100%;
  border: 1px solid #5A5D6C;
  color: #5A5D6C;
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  + span {
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 500;
  }
}

.select-box-justify {
  > div {
    justify-content: start;
    .select-box:first-child{
      margin-right: 0;
    }
  }
}

.center-select-box {
  &.payment-type {
    margin: 10px 10px 25px 10px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    h6 {
      margin-bottom: 0;
    }
    i {
      display: inline-block;
      margin-bottom: 15px;
      &::before {
        display: block;
      }
    }
  }
}

.amount-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
  .amount-container {
    margin-right: 10px;
    display: inline-block;
    position: relative;
    .gift{
      position: absolute;
      bottom: -20px;
      display: block;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
    }
    &.first{
      margin-right: 0;
    }
    .amount-box {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 150px;
      height: 45px;
      background: #E7E9EC;
      cursor: pointer;
      &.active{
        background: @primary-color;
        color: #FFF;
      }
    }
  }
}
.amount-input-wrapper{
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  .amount-text{
    color:@primary-color;
    font-size: 12px;
    border-bottom: 1px solid @primary-color ;
    cursor: pointer;
    height: 25px;
  }
  .amount-input{
    width: 135px !important;
    height: 45px !important;
  }
    .has-error{
        .ant-form-explain {
            position: absolute;
            white-space: nowrap;
        }
    }
}
.receipt-input{
  width: 100% !important;

  label{
    transform-origin: right top 0 !important;
    font-size: 15px !important;
  }
}
.receipt-wrapper{
  display: flex;
  align-items: center;
  .ant-form-item{
    margin-bottom: 0;
  }
  .receipt-currency{
    margin-right: 10px;
    font-size: 14px;
    color: #5E6670;
  }
}
.payment-box{
  border: 1px solid #E7E9EC;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 40px;
  .payment-content{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 25px;
    padding-left: 25px;
    color: #9A99A9;
    span{
        font-weight: 500;
        font-size: 12px;
        color: #5A5D6C;
    }
    .button-next-step{
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-right: 0 !important;
      padding-left: 0 !important;
      float: left;
      margin-right: -25px;
      span{
          max-width: 100%;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #FFF;
      }
    }
    &.border-left{
      border-left: 1px solid #E7E9EC;
    }
    &.border{
      border-right: 1px solid #E7E9EC;
      border-left: 1px solid #E7E9EC;
    }
    .green{
      color: #3DBE8B;
    }
    span{
      display: block;
    }
  }
}
.form-hide{
    visibility: hidden;
    height: 0;
    width: 0;
}
.charge-container {
    .select-box-justify {
      i{
          line-height: 1;
          font-size: 61px;
          height: 70px;
          margin-bottom: 30px;
       }
        span,h6,i{
            color: #7794A0;
        }
        .active{
            span,h6,i{
                color: @primary-color;
            }
        }
    }
}
.remove-legend{
    .legend-item{
        visibility: hidden !important;
    }
}
.payment-receipt{
    .ant-form-item{
        .ant-form-explain{
            margin-top: 5px;
            margin-bottom: -23px !important;
        }
    }
}
.receipt-wrapper{
    .ant-form-explain{
        white-space: nowrap;
    }
}
