
[dir="ltr"] .range-wrapper-input {
  input {
    text-align: left;
  }
}
.range-wrapper {
  position: relative;
  .range-inside-wrapper {
    position: absolute;
    top:30px;
  }
  .range-wrapper-input{
    position: relative;
    cursor: pointer;
    input {
      width: 165px;
      height: 30px;
      border: 1px solid #DBDDE1;
      text-align: right;
      padding-right: 10px;
      padding-left: 10px;
      direction: rtl;
    }
    &:after{
      content: "\e04b";
      font-size: 8px;
      font-family: clickyabdashboard;
      position: absolute;
      left: 10px;
      top:10px;
    }
  }
}