@import "~react-datepicker2/dist/react-datepicker2.css";
.persian-datepicker {
  input {
    width: 100%;
  }

  .anticon-caret-down {
    position: absolute;
    left: 1%;
    top: 50%;
    transform: translateY(-50%);
  }
}
