@import "../../../src/containers/App/theme";
@import "../../../src/containers/App/color";
@import "../../components/LocationSelect/style";

.hidden {
  display: none !important;
}
.select-title{
  font-size: 12px;
  font-weight: 500;
  color: @dark-gray-color ;
}
.show-tag {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-size: 14px;
  line-height: 14px;
  color: @tag-color;
  background-color: @tag-bg-color;
  border: 1px solid @tag-border-color;
  border-radius: 2px;
  .close {
    margin-right: 5px;
    cursor: pointer;
    float:left;
    font-size: 9px;
    position: relative;
    top:2px;
  }
}
//Right to Left Form element,  Unfortunately most style are inline in Material. couldn't avoid !important
.select-tag-rtl , .select-list-rtl {
  .location-select-rtl() ;
  direction: rtl;
  > div {
    bottom: auto !important;
    padding-right: 5px;
  }
  color:@select-placeholder-color;
  font-size: 13px !important;
}

span[role="menuitem"] {
  text-align: center;
  > div {
    > div {
      padding: 0px !important;
      > div {
        font-size: 14px !important;
        width: auto !important;
      }
    }
  }
}

.select-tag-ant-rtl{
  margin-top: 15px;
  margin-bottom: 15px;
  width: @select-tag-width !important;
  position: relative;
  &:after{
    content: "\e04b";
    position: absolute;
    left: 10px;
    top: 2px;
    font-family: clickyabdashboard;
  }
  .ant-select-selection{
    border-radius: 2px ;
    border: @input-border-style  ;
    padding: 0 10px ;
    width: @select-tag-width !important;
  }
  .ant-select-selection--multiple{
    min-height: 35px;
    max-height: 35px;
    width: @select-tag-width !important;
  }
  .ant-select-selection__rendered{
    margin-right: -5px;
    width: @select-tag-width !important;
    .ant-select-selection__placeholder{
      display: block !important;
      text-align: right;
      line-height: 27px !important;
      height: 35px;
      color: #000;
    }
    // Didn't remove ul with display:block since dropDown outside click works with this element
    ul {
      opacity: 0;
      height: 0 !important;
      width: 0 !important;
      li{
        opacity: 0;
        height: 0 !important;
        width: 0 !important;
      }
    }
  }
}
.ant-select-dropdown.ant-select-dropdown--multiple .ant-select-dropdown-menu-item:after{
  content: "\e012" !important;
  font-family: clickyabdashboard !important;
}
.select-tag-animation-enter {
  opacity: 0.01;
  transform: scale(0);
  transition: all;
}

.select-tag-animation-enter.select-tag-animation-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: 700ms;
}

.select-tag-animation-leave {
  opacity: 1;
  transform: scale(1);
  transition: 700ms;
}

.select-tag-animation-leave.select-tag-animation-leave-active {
  opacity: 0.01;
  transform: scale(0);
  transition: 700ms;
}
