@import "../../theme";

.header {
  padding: 10px 0 !important;
  margin: 0 16px;
  text-align: right;
  height: auto !important;
  line-height: inherit !important;

  .breadcrumb {
    display: inline-block;
    margin-right: 20px;

    > span {
      float: right;
      direction: rtl;
    }
  }
}
.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}
.trigger {
  font-size: 1.5em;
  color: #969BA1;
}
.content {
  min-height: 500px;
  margin: 0 16px;
  background: #fff;
}
.sidebar {
  direction: rtl;
  .ant-menu-item-selected {
    background-color:  @sidebar-list-hover !important;
  }
  li {
    border-radius: 4px;
    &:hover, &:active, &:focus, &:visited {
      background: @sidebar-list-hover !important;
    }
    i {
      margin-left: 8px;
      margin-right: 0;
    }
  }
}
.menu-list {
  width: 85%;
  margin: 0 auto;
  .sidebar {
    .ant-menu-item-active {
      color: white !important;
      box-shadow: 0 1px #2E4C7D;
      transition: box 0.3s ease-In;
    }
  }
}
.badge {
  float: left;
  margin-top: 11px;
  direction: ltr;
  p {
    color: @sidebar-badge;
    line-height: 1.8;
  }
}
.ghostButton {
  width: 100%;
  direction: rtl;
  height: @ghost-button-height !important;
  color: @sidebar-menu-item !important;
  border-color: @sidebar-menu-item !important;
}
.campaignButton {
  padding: 0 !important;
  margin-bottom: 20px !important;
}

.pFooter {
  list-style-type: disc;
  li {
    float: left;
    margin: 0 10px 0 15px;
    &:first-child {
      list-style-type: none;
      margin-left: 0;
    }
  }
}
.ant-layout{
 min-height: 100vh;
}
// little badge in collapsed sidebar
.dot-badge{
  top:-8px;
}
.dot-badge{
  sup{
    box-shadow: 0 0 0 1px @layout-sider-background !important;
  }
}
//Menu item color for sidebar

.ant-menu-item{
  font-weight: bold;
  color:@sidebar-menu-item !important;
  }
.ant-menu.ant-menu-vertical.sidebar.ant-menu-dark.ant-menu-inline-collapsed.ant-menu-root>.campaignButton {
  padding: 0 !important;
  margin-bottom: 20px !important;
}
.ant-layout-sider-children
{
  height: auto !important;
}
