@import "../../../App/theme";

.targeting, .targeting-rtl {
  margin-top: 40px;

  .component-wrapper {
    margin-top: 20px;
  }
  .select-tag-component-wrapper{
    margin-top: -25px;
    margin-bottom: 40px;
  }
  .select-tag-ant-component-wrapper {
    margin-bottom: -5px;
  }
  .area-map-wrapper{
    display: block;
    margin-top: 30px;
    height: 500px;
  }
    .map-position-fix{
        .ant-form-item-control-wrapper {
            .ant-form-item-control {
               > div {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
    .select-location-dropdown{
        position: relative;
        z-index: 2;
    }
  // Align tooltip and title
  .title-target {
    margin-top: 10px;
  }
  .targeting-row {
    margin-top: 10px;
  }
  .network-select {
    margin-top: 15px;
    margin-bottom: 3px;
    &-label {
      color:#9A9A9A;
      display: block;
      font-size: 12px;
    }
  }
  .select-label {
    margin-top: 20px;
    margin-bottom: -20px;
    font-size:12px;
    color:#9A9A9A;
  }
}
.targeting-select-tag{
    margin-top: 15px;
    margin-bottom: -25px;
}
[dir="rtl"]{
    .select-tag-ant {
        .ant-select-selection__placeholder {
            text-align: right;
            color: #5E6670;
            margin-top: -9px;
        }
    }
}
.select-tag-ant {
    width: 610px !important;
  .ant-select-selection {
    border: 1px solid #DFE0E6 !important;
    border-bottom: 1px solid #DBDDE1 !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0) !important;
    min-height: 35px !important;
  }
  // Change float for rtl support
  .ant-select-selection__rendered > ul {
      padding-top: 2.5px;
      padding-bottom: 2.5px !important;
      > li {
          color: @tag-color;
          background-color: @tag-bg-color;
          border: 1px solid @tag-border-color;
          border-radius: 2px;
          margin: 2.5px !important;
          margin-right: 5px !important;
          margin-left: 0 !important;
          padding-top: 5px;
          padding-left: 5px;
          padding-bottom: 5px;
          font-size: 14px;
          line-height: 14px;
          height: 25px !important;
          float: right;
      }
  }
  .ant-select-selection__choice__content {
    padding-right: 0 !important;
    line-height: 1;
    height: 25px;
    padding-bottom: 5px;
  }
  .ant-select-search--inline {
    color: @tag-color;
    background-color: transparent !important;
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    margin-top: 5px !important;
  }

  .ant-select-selection__choice{
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .ant-select-selection__choice__remove {
    font-size: 18px !important;
    padding: 0 !important;
    float: left;
    position: relative;
    line-height: 1;
    &:before{
      content: "\E011" ;
      font-family: clickyabdashboard !important;
      font-size: 14px;
    }
  }
  .ant-select-selection__choice__content {
    margin-left: -2px;
    padding-right: 8px;
  }
}
.ant-select-dropdown{
  ::-webkit-scrollbar {
    width: 3px !important;
  }
  *::-webkit-scrollbar-thumb {
    background-color: @map-border-color !important;
  }
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  }

}
.select-input {
  &.campaign-select {
    width: @select-tag-width;
  }
  &.network-ad-select{
    width: 50%;
  }
}
    .ant-select-selection--multiple {
        padding-bottom: 0 !important;
        .ant-select-selection__rendered {
            margin: 0 !important;
                .ant-select-selection__choice__remove {
                    position: relative !important;
                    top: -6px;
                    &:before {
                        content: "\E011" !important;
                        font-family: clickyabdashboard !important;
                        font-size: 14px;
                    }
                }
        }
    }
