@charset "UTF-8";

@font-face {
    font-family: "clickyabdashboard";
    src:url("fonts/clickyabdashboard.eot");
    src:url("fonts/clickyabdashboard.eot?#iefix") format("embedded-opentype"),
    url("fonts/clickyabdashboard.woff") format("woff"),
    url("fonts/clickyabdashboard.ttf") format("truetype"),
    url("fonts/clickyabdashboard.svg#clickyabdashboard") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "clickyabdashboard" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="cif-"]:before,
[class*=" cif-"]:before {
    font-family: "clickyabdashboard" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cif-access-management:before {
    content: "\e000";
}
.cif-addfund:before {
    content: "\e001";
}
.cif-alert:before {
    content: "\e002";
}
.cif-analytics:before {
    content: "\e003";
}
.cif-archive:before {
    content: "\e004";
}
.cif-arrowdown-2:before {
    content: "\e005";
}
.cif-arrowleft-4:before {
    content: "\e006";
}
.cif-arrowlefts:before {
    content: "\e007";
}
.cif-arrowright-4:before {
    content: "\e008";
}
.cif-arrowup-2:before {
    content: "\e009";
}
.cif-budget:before {
    content: "\e00a";
}
.cif-calendar:before {
    content: "\e00b";
}
.cif-mobile-campaign-outline:before {
    content: "\e00c";
}
.cif-browser-campaign-outline:before {
    content: "\e00d";
}
.cif-campaign:before {
    content: "\e00e";
}
.cif-checked:before {
    content: "\e012";
}
.cif-close:before {
    content: "\e010";
}
.cif-closelong:before {
    content: "\e011";
}
.cif-communication:before {
    content: "\e063";
}
.cif-compass:before {
    content: "\e062";
}
.cif-createuser:before {
    content: "\e014";
}
.cif-dashboard:before {
    content: "\e061";
}
.cif-denied:before {
    content: "\e016";
}
.cif-dragdrop-zone:before {
    content: "\e017";
}
.cif-edit:before {
    content: "\e018";
}
.cif-export-report:before {
    content: "\e019";
}
.cif-extensions-gif:before {
    content: "\e01a";
}
.cif-extensions-jpg:before {
    content: "\e01b";
}
.cif-extensions-mp4:before {
    content: "\e01c";
}
.cif-extensions-png:before {
    content: "\e01d";
}
.cif-filter:before {
    content: "\e01e";
}
.cif-final-flag:before {
    content: "\e01f";
}
.cif-gear-outline:before {
    content: "\e020";
}
.cif-gear-setting:before {
    content: "\e021";
}
.cif-gift-charge:before {
    content: "\e022";
}
.cif-help:before {
    content: "\e023";
}
.cif-help-outline:before {
    content: "\e024";
}
.cif-img-upload:before {
    content: "\e025";
}
.cif-inventory:before {
    content: "\e026";
}
.cif-loading-circle:before {
    content: "\e027";
}
.cif-lock-outline:before {
    content: "\e028";
}
.cif-logout-user:before {
    content: "\e029";
}
.cif-magnifier:before {
    content: "\e02a";
}
.cif-menhair-normal:before {
    content: "\e02b";
}
.cif-money-charge:before {
    content: "\e02c";
}
.cif-money-outline:before {
    content: "\e02d";
}
.cif-more:before {
    content: "\e02e";
}
.cif-pending:before {
    content: "\e02f";
}
.cif-plusbold:before {
    content: "\e030";
}
.cif-preview-desktop:before {
    content: "\e031";
}
.cif-preview-mobile:before {
    content: "\e032";
}
.cif-preview-tablet:before {
    content: "\e033";
}
.cif-print:before {
    content: "\e034";
}
.cif-summary:before {
    content: "\e035";
}
.cif-target:before {
    content: "\e036";
}
.cif-trans-archive:before {
    content: "\e037";
}
.cif-trashbin:before {
    content: "\e038";
}
.cif-triangledown:before {
    content: "\e04b";
}
.cif-unread-ticket:before {
    content: "\e03a";
}
.cif-upload-file:before {
    content: "\e03b";
}
.cif-verifymail:before {
    content: "\e03c";
}
.cif-vid-upload:before {
    content: "\e03d";
}
.cif-womenhair-normal:before {
    content: "\e03e";
}
.cif-cylogo-without-typo:before {
    content: "\e03f";
}
.cif-sort:before {
    content: "\e040";
}
.cif-reload:before {
    content: "\e041";
}
.cif-opennav:before {
    content: "\e042";
}
.cif-pass-good:before {
    content: "\e043";
}
.cif-pass-normal:before {
    content: "\e044";
}
.cif-pass-strong:before {
    content: "\e045";
}
.cif-pass-typing:before {
    content: "\e046";
}
.cif-pass-weak:before {
    content: "\e047";
}
.cif-uploadpicture:before {
    content: "\e048";
}
.cif-home:before {
    content: "\e049";
}
.cif-arrow-left:before {
    content: "\e060";
}
.cif-arrow-right:before {
    content: "\e065";
}
.cif-checked-circle:before {
    content: "\e013";
}
.cif-close-circle:before {
    content: "\e04d";
}
.cif-arrow-top:before {
    content: "\e04e";
}
.cif-closenav:before {
    content: "\e04f";
}
.cif-arrow-down:before {
    content: "\e050";
}
.cif-handcreditcard:before {
    content: "\e00f";
}
.cif-bankwire:before {
    content: "\e015";
}
.cif-avatar-placeholder:before {
    content: "\e039";
}
.cif-exchangenet:before {
    content: "\e04a";
}
.cif-globe:before {
    content: "\e04c";
}
.cif-impression:before {
    content: "\e051";
}
.cif-emptystar:before {
    content: "\e052";
}
.cif-halfstar:before {
    content: "\e053";
}
.cif-fullstar:before {
    content: "\e054";
}
.cif-lightbulb:before {
    content: "\e055";
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/iransans/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff');  /* All Major Browsers */
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/iransans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff');  /* All Major Browsers */
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/iransans/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff');  /* All Major Browsers */
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/iransans/woff/IRANSansWeb(FaNum).woff') format('woff');  /* All Major Browsers */
}
