@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import "~antd/dist/antd.less";
@import "theme.less";

.full-screen {
  height: 100vh;
  width: 100vm;
}

// Typography
h1 {
  font-weight: 500;
  font-size: 36px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
}

h5 {
  font-weight: 500;
  font-size: 16px;
}

h6 {
  font-weight: 500;
  font-size: 14px;
  margin: 0 0 14px;
}

p {
  font-weight: 500;
  font-size: 13px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

// Buttons
.button-full-width {
  width: 100%;
}

// card sizes

.login-box {
  width: 400px;
}

//Forgot password block
.forgot-password{
  margin-top:31px;
}

//Login page input class
.login-input{
  margin-bottom: 31px;  // Should be 31px as forgot-password .
}
//Logo style placeholder
.logo-img{
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background: @primary-color;
  margin:0 auto ;
  margin-bottom:25px;
  color:white;
}
//Back button on login class Can be Removed
.back-button{
  margin-bottom:10px;
}
// customized Scrollbar
*::-webkit-scrollbar {
  width: .8em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius:10px;
}

*::-webkit-scrollbar-thumb {
  background-color:@sidebar-menu-item;
  border-radius:10px;
  outline: 1px solid slategrey;
}
// Profile notice (last column) for rtl version all left parameter should be right
.profile-notice{
  border-left:solid 2px #E0E0E0 ;
  h6{
    padding-left:20px ;
  }
  ul{
    padding-left:35px;
    list-style: disc;
  }
  li{
    margin-top:8px;
  }
}

