@import "../../../App/theme";

.check-publish{
  .campaign-title {
    margin-bottom: 0;
  }
}

.check-title{
  border-bottom: 1px solid #E4E6E9;
  width: 100%;
  color: @dark-gray-color;
  font-size: 14px;
  font-weight:500;
  margin-top: 35px;
  height: 35px;
  .summary-section-title{
    color: #5A5D6C;
    font-size: 14px;
  }
  &-icon{
    font-size: 16px;
    color: #5A5D6C;
    position: relative;
    top:4px
  }
  span{
    display: inline-block;
    margin: 0 5px;
  }
}
.summary-field-wrapper{
  margin-top: 20px;
  .status{
    font-size: 13px;
    font-weight: bold;
    .active{
        color: #3DBE8B;
    }
    .deactive{
       color: #EC4E32;
    }
  }
}
.summary-info{
    color: #5A5D6C;
    font-size: 13px;
}
.check-publish{
    label{
        color: #A8ACB8;
    }
}
.edit-btn{
  float:left;
  max-width: 75px;
  height: 25px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 0 7px !important;
  color: #9A999A;
  .edit-btn-icon{
    font-size: 14px;
    line-height:14px;
    position: relative;
    top:2px;
  }
    span{
        line-height: 1;
        position: relative;
        top: -4px;
        font-weight: 400;
    }
}
div[dir="ltr"]{
  .edit-btn{
    float: right;
  }
}
.btn-save{
  button {
    background: #66C395 !important;
  }
}
