@import "../../../src/containers/App/theme";

.phone-input {
  display: flex;
  direction: ltr;

  & > div {
    display: flex;
    align-items: center;
  }
  .phone-text-field{
    width: 100%;
  }
  .country-code {
    padding-right: 5px;
    margin-top: 49px;
    padding-bottom: 5px;
    border-bottom: 1px solid #DBDDE1;
    height: 15px;
    * {
      height: 20px !important;
      font-size:13px !important;
      top: -4px ;
    }
    > span{
      color:@select-border-color ;
    }
    .plus-code{
      margin-top: -15px;
    }
  }
  .country-code-num {
    border-right: 1px solid #ccc;
  }
  .phone-flag {
    margin-top: 39px;
    padding-right: 5px;
    height: auto;
    width: @flag-width;
    border-bottom: 1px solid #DBDDE1;
    padding-bottom: 5px;
  }

  // Remove increment and decrement arrow of number input
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}








