@import "../../../src/containers/App/theme";

.phone-input {
  display: flex;
  direction: ltr;

  & > div {
    display: flex;
    align-items: center;
  }

  .country-code {
    padding-right: 5px;
    margin-right: 5px;
  }
}

.country-code {
  margin-top: 22px;
  * {
    height: 20px !important;
  }
}
.country-code-num{
  border-right: 1px solid #ccc ;
}

.phone-flag{
  margin-top:22px;
  margin-right: 5px;
  height: @flag-height;
  width: @flag-width;
}

